<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="Buchautor_Buch" type="System.Configuration.AppSettingsSection" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <connectionStrings>
    <add name="connectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Bibliothek; Integrated Security=true"/>
  </connectionStrings>

  <Buchautor_Buch>
    <add key="table" value="Buchautor_Buch"/>
  </Buchautor_Buch>

  <appSettings>
    <add key="currentVersion" value="v. 0.2"/>
  </appSettings>

</configuration>
